@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/*Custom Scroolbar*/
html {
  overflow-y: scroll;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: rgb(33, 37, 41);
}

html::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5rem;
}

html::-webkit-scrollbar-thumb:hover {
  background: #0b4cd6;
}

.custom-scroolbar::-webkit-scrollbar {
  height: 0.3rem;
}

.custom-scroolbar::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 5rem;
}

.custom-scroolbar::-webkit-scrollbar-thumb:hover {
  background: #0b4cd6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
